# Unity generated folders (do NOT commit)
Library/
Temp/
Obj/
Logs/
UserSettings/
MemoryCaptures/
Build/
Builds/
Records/
CrashReports/

# Unity cache
Library/PackageCache/

# Rider / VS / VSCode
.vs/
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
